
body{
    background-color: rgb(230, 230, 230);
    color:#2a2e12;
}
header {
    background: -moz-linear-gradient(left, rgba(217,217,219,1) 0%, rgba(25,28,11,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,217,219,1)), color-stop(100%, rgba(25,28,11,1)));
    background: -webkit-linear-gradient(left, rgba(217,217,219,1) 0%, rgba(25,28,11,1) 100%);
    background: -o-linear-gradient(left, rgba(217,217,219,1) 0%, rgba(25,28,11,1) 100%);
    background: -ms-linear-gradient(left, rgba(217,217,219,1) 0%, rgba(25,28,11,1) 100%);
    background: linear-gradient(to right, rgba(217,217,219,1) 0%, rgba(25,28,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9db', endColorstr='#191c0b', GradientType=1 );
    color:#191c0b;
}
footer {
    background: #532820;
    color:white;
}
nav.side-bar {
    background-color: #2b303a;
}
nav.side-bar span{
    color: white;
}
nav.side-bar>ul>li {
    background: rgb(184,225,252);
    background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
    background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );
    color: black;
}
nav.side-bar>ul>li:nth-child(1) { 

}
nav.side-bar>ul>li.inactive { 
    cursor: not-allowed;
    background: rgb(184,198,223);
    background: -moz-linear-gradient(top, rgba(184,198,223,1) 0%, rgba(109,136,183,1) 100%);
    background: -webkit-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    background: linear-gradient(to bottom, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 );
}

header >h1 {
    color: white;
}
.content{
    background-color: white;
    background-image: url('../img/hamedan.jpg');
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
}
.content > h1{
    background-color: #2b303a;
    color: white;
}
.message{
    background-color: rgba(245, 245, 245, 0.9);
}
.message .error{ 
    color: red;
}
.message .confirm{
    color: rgb(51, 161, 0);
}
#theTree{
    background-color: #dbdbdb;
}
form{
    border-color: rgb(1, 48, 9);
}

input[type="text"], input[type="password"],
textarea, select
{

}

input[type="button"], input[type="submit"]{
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:active,
input[type="password"]:focus,
select:hover,
select:active,
select:focus,
textarea:hover,
textarea:active,
textarea:focus,
{
    
}
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus{

}