body, html{
    margin: 0;
    padding: 0;
}
body{
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}

header{
    font-size: 10px;
    flex: 3 100%;
    padding: .5em;
    padding-right: 3em;
}

.content {
    margin: 2em;
    flex: 2 60em;
    float: left;
    text-align: right;
    padding: 1em;
    min-height: 30em;
}
.content > h1{
    text-align: center;
    margin: 0;
    display: block;
    font-style: normal;
    font-size: inherit;
}
.content img{
    max-width: 100%;
}

nav{
    flex: 1 15em;
    float: right;
    overflow: auto;
}
nav ul {
    display: block;
    list-style-type: none;
    padding: 1em;
}
nav ul a {
    color: inherit;
    text-decoration: none;
}

footer{
    text-align: center; 
    flex: 3 100%;
}
@media all and (max-width: 80em) {
    nav ul {
        
    }
    
    nav ul span
    {
        display: block;
    }
    nav ul li  {

        width: 15em;
        display: inline-block;
    }
}
