Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule !^(((\~)?[\w\/\-\ \.]*(\.(php|css|js|png|jpg|jpeg|html|ttf|ico)|\/[\w\/\-\ ]*)|(^\w*))(\?.*)?)$ Forbidden [QSA,L,R,NC,P,F,L]

RewriteRule ^$ index.html [L]

RewriteRule ^api/(.+)/(.+)/$ frontAPI.php?controller=$1&action=$2 [QSA]
RewriteRule ^api/(.+)/(.+)$ frontAPI.php?controller=$1&action=$2 [QSA]