Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule !^(((\~)?[\w\/\-\ \.]*(\.(php|css|js|png|jpg|jpeg|html|ttf|ico)|\/[\w\/\-\ ]*)|(^\w*))(\?.*)?)$ Forbidden [QSA,L,R,NC,P,F,L]

RewriteRule ^$ index.html [L]

## NOT TESTED

RewriteRule ^api/(.+)/(.+)/$ controller/$1Controller.php [QSA]
RewriteRule ^api/(.+)/(.+)$ controller/$1Controller.php [QSA]