<h1>ویرایش</h1>
<form id="edit">

    <input type="hidden" name="previousId" />
    <input type="text" placeholder="تلفن همراه" name="PrimaryNumber" />
    <input type="password" placeholder="رمز عبور" name="HashPassword" />
    <input type="password" placeholder="تکرار کلمه‌ی عبور" name="Confirm" />
    <input type="text" placeholder="نام" name="Firstname" />
    <input type="text" placeholder="نام خانوادگی" name="Lastname" />
    <input type="text" placeholder="کد ملی" name="NationalCode" />
    <select name="Type">
        <option value="ADMIN">مدیر سیستم</option>
        <option value="USER">کاربر</option>
    </select>

    <input type="submit" value="ثبت">

</form>
